@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --background: #f9f9f9;
  --foreground: #333;
  --custom-color: #FFA415;
  --custom-color-2: #121D18 ;
  --custom-color-3: #6C6E76;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
